
* {
	margin: 0;
	padding: 0;
	
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, .center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, .embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, .ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {

		background-image: url(../img/1.jpg);
		font-family: tahoma;

}

.parent {

	background: #fff;
	margin: auto;
	width: 1000px;
	height: 990px;
	box-shadow: 0 0 2px 2px rgba(105, 105, 105, 1);




	
}
.logo{
  margin-left: 20px;
  float: left;
  margin-top: 9px;
	
}

.cont{		
	color: #128aa7;
	float: right;
	margin-top: 10px;
	margin-right: 20px;

}


.main{
    position: absolute;
	top:175px;
	border-top: 1px solid #138aa7;
	border-bottom: 1px solid #138aa7;
	height: 237px;

	
}


.main:after{
	content:" ";
	clear: both;
	display: block;
}

.photo1 {

	    float: left; /* задаем обтекание */
	    margin:0 auto; /* для красоты */
	    display:inline; /* для IE6, чтоб отступ слева не удвоился */
		height: 60px;
		color: #128aa7;
	}

.nation{
	color: #128aa7;
}

.description{
	    overflow:hidden;
		font-size: 10px;
		width: 54px;
		float:left;
	}
	
.contr {
	display: inline-block;
	width: 54px;
	height: 56px;
    font-size: 10px;
    text-align: center;
}
  li {
    display: inline-block;
  }
#country {
	 float: right; 
	 margin:0 auto; 
	 margin-top: 15px;
	 margin-right: 20px;
	 clear: right;


}

#country li a:hover {
     
	color: #FF0000;
	
	}


#menu ul, li {
        margin:0;
        padding:0;
        list-style-type:none; 
  
    }
	

    #menu {
        display:block;
        position:absolute;
        top: 414px;
		width: 1000px;
		z-index: 3;	
        background: #323232;
		line-height: 40px;
		box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
		border-top: 1px solid #cacbcb;
		border-bottom: 1px solid #000;



 
    }

    #menu li {
        display:inline-block;
        height:40px;
        position:relative;

    }
     
	 #menu li a{
		 color: #fff;
		 text-decoration: none;

		padding-left: 30px;
		 padding-right: 29px;
		
	 }
	#menu li ul li{
		 width: 100%;	
	 } 

    #menu li ul {
        position:absolute;
		color: #fff;
		background: #323232;
        top:40px;
        display:none;  
        text-decoration: none;
-webkit-box-shadow: 10px 10px 5px -4px rgba(7,7,8,1);
-moz-box-shadow: 10px 10px 5px -4px rgba(7,7,8,1);
box-shadow: 10px 10px 5px -4px rgba(7,7,8,1);
		
    }
     

    #menu li:hover ul {
        display:block; 
		
    }

.tri {
	width: 10px;
	height: 10px;
}

#menu li:hover {
     background: #778899;
	color: #ffffff;
	
	}

.fon {
	position: absolute;
	top:450px;

	width: 998px; /* ширина трех блоков */
    background: url(../img/4.jpg) repeat-y; /* фоновая картинка. повторяется по вертикали */
    float: left; /* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
	border: 1px solid #c6c9cd;
		box-shadow: 0 2px 1px 0px #000;


	}

	.leftColumn {

	width: 200px;

	float: left;
	height: auto;
	margin-left: 5px;
	background: #ecedef;
		color: #424c43;

	
	

	}

	.centerColumn {

	width: 600px;

	float: left;



	}

	.rightColumn {

	width: 200px;

	float:right;
	background: #ecedef;
	height: auto;
	color: #424c43;
	}


.contents{
	margin-top: 10px;
	font-size: 18px;
	text-align: center;
	color: #424c43;
	font-weight: bold;
}




.text{
	line-height: 24px;

}


.copyright{
		margin: auto;
	width: 1000px;
    
    }

.copy{
	margin-left: 400px;
	margin-top: 10px;
	color: #fff;
}
